name: Validate
on:
  pull_request:
    branches:
    - main
  push:
    branches:
    - main
jobs:
  build:
    name: Build
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v4
      with:
        cache: pip
    - run: pip install -r requirements.txt
    - run: python ./validate-activities.py
